@charset "utf-8";

body {
  --color1: #8ea589;
  --color2: #737047;
  --color3: #2e2e2a;
  --color4: #2e3f4e;
}

.setting {
  width: 400px;
  margin: 0 auto;
}

.game {
  text-align: left;
}

.board {

  .row {
    display: flex;
  }

  .poker {
    cursor: pointer;
    width: 30px;
    height: 50px;
    border-radius: 2px;
    background-color: var(--color1);
    margin: 10px 4px;
    box-sizing: border-box;


    &.active {
      border: 4px solid var(--color2)
    }

    &.selected {
      background-color: #fff;
      border: 1px solid #000
    }
  }
}

.result {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 300px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 8px #ccc;
  text-align: center;

  .title {
    margin: 20px 0 40px;
  }

  .msg {
    margin: 10px 0 80px;
  }
}
